.modal-mask {
    @apply fixed inset-0 bg-black bg-opacity-70 backdrop-blur z-50 flex-center pointer-events-none invisible transition-all opacity-0
}

.modal-mask.blur-mask {
    @apply backdrop-blur bg-opacity-30
}

.modal-mask.visible {
    @apply !pointer-events-auto !opacity-100
}

.modal-content {
    @apply bg-bg border transition-all scale-75 p-4 border-border rounded-md w-full max-w-[600px] translate-y-10
}

.modal-content.visible {
    @apply !translate-y-0 scale-100
}
